<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/vue-easytable/umd/css/index.css">
</head>

<body>
    <div id="app">
        <v-table :width="1000" :columns="columns" :table-data="tableData" :show-vertical-border="true" v-if="tableNum >=  1" is-horizontal-resize style="width:100%"  :cell-edit-done="cellEditDone"></v-table>
        <v-table :width="1000" :columns="columns2" :table-data="tableData2" :show-vertical-border="true" v-if="tableNum>=2"  :cell-edit-done="cellEditDone2"></v-table>
        <button v-on:click="show()">sdsdsd</button>
        <ul>
          <template v-for="item in items">
            <li >{{ item.msg }}</li>
          </template>
        </ul>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/vue-easytable/umd/js/index.js"></script>
<script>
var app = new Vue({
    el: '#app',
    data: function() {
        return {
            tableData: [
                { "name": "赵伟", "tel": "156*****1987", "hobby": "钢琴、书法、唱歌", "address": "上海市黄浦区金陵东路569号17楼" },
                { "name": "李伟", "tel": "182*****1538", "hobby": "钢琴、书法、唱歌", "address": "上海市奉贤区南桥镇立新路12号2楼" },
                { "name": "孙伟", "tel": "161*****0097", "hobby": "钢琴、书法、唱歌", "address": "上海市崇明县城桥镇八一路739号" },
                { "name": "周伟", "tel": "197*****1123", "hobby": "钢琴、书法、唱歌", "address": "上海市青浦区青浦镇章浜路24号" },
                { "name": "吴伟", "tel": "183*****6678", "hobby": "钢琴、书法、唱歌", "address": "上海市松江区乐都西路867-871号" }
            ],
            tableData2: [
                { "name": "赵伟", "tel": "156*****1987", "hobby": "钢琴、书法、唱歌", "address": "上海市黄浦区金陵东路569号17楼" },
                { "name": "李伟", "tel": "182*****1538", "hobby": "钢琴、书法、唱歌", "address": "上海市奉贤区南桥镇立新路12号2楼" },
                { "name": "孙伟", "tel": "161*****0097", "hobby": "钢琴、书法、唱歌", "address": "上海市崇明县城桥镇八一路739号" },
                { "name": "周伟", "tel": "197*****1123", "hobby": "钢琴、书法、唱歌", "address": "上海市青浦区青浦镇章浜路24号" },
                { "name": "吴伟", "tel": "183*****6678", "hobby": "钢琴、书法、唱歌", "address": "上海市松江区乐都西路867-871号" }
            ],
            columns: [
                { field: 'name', title: '姓名', width: 100, titleAlign: 'center', columnAlign: 'center',isResize:true,isEdit:true,},
                { field: 'tel', title: '手机号码', width: 260, titleAlign: 'center', columnAlign: 'center',isResize:true },
                { field: 'hobby', title: '爱好', width: 330, titleAlign: 'center', columnAlign: 'center',isResize:true },
                { field: 'address', title: '地址', width: 330,titleAlign: 'center', columnAlign: 'center',isResize:true }
            ],
            columns2: [
                { field: 'name', title: '姓名', width: 100, titleAlign: 'center', columnAlign: 'center',isResize:true,isEdit:true,},
                { field: 'tel', title: '手机号码', width: 260, titleAlign: 'center', columnAlign: 'center',isResize:true },
                { field: 'hobby', title: '爱好', width: 330, titleAlign: 'center', columnAlign: 'center',isResize:true },
                { field: 'address', title: '地址', width: 330,titleAlign: 'center', columnAlign: 'center',isResize:true }
            ],
            tableNum:2,
            items:[{
                msg:1
            },{
                msg:2
            }]
        }
    },
    methods: {
        show() {
            console.log(this.tableData);
            console.log(this.tableData2);

        },
          cellEditDone(newValue,oldValue,rowIndex,rowData,field){

                this.tableData[rowIndex][field] = newValue;
            },
            cellEditDone2(newValue,oldValue,rowIndex,rowData,field){

                this.tableData2[rowIndex][field] = newValue;
            },
            cellEditDone3(newValue,oldValue,rowIndex,rowData,field){

                this.tableData2[rowIndex][field] = newValue;
            }
    }
})
</script>

</html>