<!DOCTYPE HTML>
<html class="index-page">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="dns-prefetch" href="//res.suning.cn">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="wap-font-scale" content="no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="苏宁易购手机版-家用电器、手机、电脑、红孩子母婴、缤购化妆、日用百货" />
    <meta name="description" content="苏宁易购苏宁易购手机版-家用电器、手机、电脑、红孩子母婴、缤购化妆、日用百货" />
    <title>苏宁易购手机版-家用电器、手机、电脑、红孩子母婴、缤购化妆、日用百货</title>
    <link rel="shortcut icon" href="http://www.suning.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="//res.suning.cn/public/v5/common/2.0.0/m-common.css?v=20160107">
    <link rel="stylesheet" type="text/css" href="//res.suning.cn/project/cmsWeb/suning/wap/V5/index/main.css?v=201608040114159681">
    <script>var sn_config = sn_config || {
        cityId: "9173",
        apiDomain: 'http://c.m.suning.com',
        resRoot: 'http://m.suning.com/RES',
        channelRes: '//res.suning.cn',
        imgHost: '//image?.suning.cn/',
        cartDomain: "http://shopping.suning.com",
        v: '?v=20160804011415968',
        scriptDomianDir: "//imgssl.suning.com",
        noGuess: "0",
        dlCls: "ghj",
        wapNewResDoamin: "http://res.m.suning.com",
        base: "http://" + "m.suning.com",
        wapDomain: "http://c.m.suning.com",
        homeOpenappOnOff: '1',
        passportDomain: 'https://passport.suning.com',
        idsAuthUrl: '',
        idsauth_server_url: 'https://passport.suning.com/ids',
        idsauth_url: 'https://aq.suning.com/asc/auth',
        shopProductServerUrl: 'http://www.suning.com'
      };
      var passport_config = {
        base: "http://" + "m.suning.com" + "/mts-web/",
        loginTheme: "wap_new"
      };
      sn_config.cookieDomain = '.suning.com';
      sn_config.juDomain = 'http://ju.m.suning.com';
      sn_config.tujianDomain = 'http://tuijian.suning.com';
      sn_config.my = 'http://my.suning.com/wap/home.do';</script>
    <script type="text/javascript">!
      function() {
        var UA = window.navigator.userAgent,
        docEl = document.documentElement;
        window.device = {
          isApp: UA.match(/SNEBUY-APP;?/i) ? true: false,
          isAndroid: UA.match(/android/i) ? true: false,
          isIOS: UA.match(/(iPhone|iPod|iPad);?/i) ? true: false,
          isWX: UA.match(/MicroMessenger/i) ? true: false
        };
        docEl && device.isApp && (docEl.className += ' sn-app');
        docEl && device.isAndroid && (docEl.className += ' android');
        docEl && device.isIOS && (docEl.className += ' ios');
        docEl && device.isWX && (docEl.className += ' wx');
      } ()</script>
  </head>
  
  <body>
    <div id="Sn_Loading" class="sn-html5-loading fixedLoading">
      <div class="blueball"></div>
      <div class="orangeball"></div>
    </div>
    <style type="text/css">.ghj img{width: 100%}.ghj .clo-se{position:absolute;right:0;top:0;width:40px;height:40px;z-index:10;}.ghj .click{position:relative;display:block;z-index:9;}.ghj .openClient{position:absolute;right:15px;top:40px;width:50px;height:35px;}</style>
    <div class="ghj w pr"></div>
    <div class="v5-headDown hide" style="background: url(//image4.suning.cn/uimg/cms/img/147144428575860068.png) no-repeat; background-size: 15rem 2.4rem;">
      <i class="del"></i>
      <a href="javascript:;"></a>
    </div>
    <div class="sn-nav index-nav wbox sticky" id="searchFixed" style="background-color: #fabc09;">
      <a class="class" name="index_none_header_syfl" href="http://m.suning.com/list/list.html"></a>
      <div class="wbox-flex search-bar pr">
        <a name="index_none_header_sysc" class="search" href="http://m.suning.com/search.html"></a>
        <form>
          <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="商品/店铺" autocomplete="off" /></form>
      </div>
      <div class="my-cart pr">
        <div class="icon"></div>
        <a name="index_none_header_sygw" id="cartnum" href="http://shopping.suning.com/project/cart/cart1.html"></a>
      </div>
    </div>
    <div class="placeholder"></div>
    <div class="v5-banner swipe w">
      <ul class="swipe-ul">
        <li>
          <a name="index_wapsy0005_1110837071_pic01" linkType="4" data-code="http://c.m.suning.com/channel/newterm.html" href="http://c.m.suning.com/channel/newterm.html">
            <img src="//image2.suning.cn/uimg/cms/img/147192249776527827.jpg"></a>
        </li>
        <li>
          <a name="index_wapsy0005_1110837071_pic02" linkType="4" data-code="http://shop.m.suning.com/30000332.html" href="http://shop.m.suning.com/30000332.html">
            <img data-src2="//image3.suning.cn/uimg/cms/img/147195079022244451.jpg"></a>
        </li>
        <li>
          <a name="index_wapsy0005_1110837071_pic03" linkType="4" data-code="http://c.m.suning.com/channel/waptongxun0002.html" href="http://c.m.suning.com/channel/waptongxun0002.html">
            <img data-src2="//image3.suning.cn/uimg/cms/img/147193994415034157.jpg"></a>
        </li>
        <li>
          <a name="index_wapsy0005_1110837071_pic04" linkType="4" data-code="http://shop.m.suning.com/30000010.html" href="http://shop.m.suning.com/30000010.html">
            <img data-src2="//image5.suning.cn/uimg/cms/img/147195084682429238.jpg"></a>
        </li>
        <li>
          <a name="index_wapsy0005_1110837071_pic05" linkType="0" data-code="http://shop.m.suning.com/30000066.html" href="http://shop.m.suning.com/30000066.html">
            <img data-src2="//image1.suning.cn/uimg/aps/material/147193722771142414.jpg"></a>
        </li>
        <li>
          <a name="index_wapsy0005_1110837071_pic06" linkType="4" data-code="http://sale.suning.com/kt/SJhuierpu/index.html" href="http://sale.suning.com/kt/SJhuierpu/index.html">
            <img data-src2="//image1.suning.cn/uimg/cms/img/147196067963556622.png"></a>
        </li>
        <li>
          <a name="index_wapsy0005_1110837071_pic07" linkType="4" data-code="http://c.m.suning.com/channel/waprxfkxj0824.html" href="http://c.m.suning.com/channel/waprxfkxj0824.html">
            <img data-src2="//image4.suning.cn/uimg/cms/img/147183463126591272.jpg"></a>
        </li>
        <li>
          <a name="index_wapsy0005_1110837071_pic08" linkType="-1" data-code="http://c.m.suning.com/choashikaix.html" href="http://c.m.suning.com/choashikaix.html">
            <img data-src2="//image5.suning.cn/uimg/cms/img/147192097378628259.jpg"></a>
        </li>
      </ul>
      <ul class="trigger"></ul>
    </div>
    <div class="index-wrap hide lazyimg" id="indexWrap">
      <div class="floor w" id="floor">
        <div class="app06 floor-area">
          <ul class="fix">
            <li>
              <a name="index_wapsy0005_1110907634_pic01" linkType="4" data-code="http://m.suning.com/list/list.html" href="http://m.suning.com/list/list.html">
                <img data-src="//image3.suning.cn/uimg/cms/img/147061919297516376.png">
                <div class="title">分类</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic02" linkType="4" data-code="http://ju.m.suning.com/wap/windex_0.htm" href="http://ju.m.suning.com/wap/windex_0.htm">
                <img data-src="//image2.suning.cn/uimg/cms/img/147061919886257385.png">
                <div class="title">大聚惠</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic03" linkType="4" data-code="http://c.m.suning.com/channel/wapcs.html" href="http://c.m.suning.com/channel/wapcs.html">
                <img data-src="//image2.suning.cn/uimg/cms/img/147061920931241895.png">
                <div class="title">苏宁超市</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic04" linkType="4" data-code="http://c.m.suning.com/channel/waprdbicon.html" href="http://c.m.suning.com/channel/waprdbicon.html">
                <img data-src="//image2.suning.cn/uimg/cms/img/147061921718933627.png">
                <div class="title">红孩子母婴</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic05" linkType="4" data-code="http://c.m.suning.com/channel/snhgsale.html?tIndex=0" href="http://c.m.suning.com/channel/snhgsale.html?tIndex=0">
                <img data-src="//image1.suning.cn/uimg/cms/img/147061922382148426.png">
                <div class="title">必抢清单</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic06" linkType="4" data-code="http://my.suning.com/msi-web/wap/home.do" href="http://my.suning.com/msi-web/wap/home.do">
                <img data-src="//image2.suning.cn/uimg/cms/img/147061923092532345.png">
                <div class="title">我的易购</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic07" linkType="4" data-code="https://licai.suning.com/bof/app/licaiIndex.htm?channelCode=H5_YGMstation" href="https://licai.suning.com/bof/app/licaiIndex.htm?channelCode=H5_YGMstation">
                <img data-src="//image3.suning.cn/uimg/cms/img/147061923888628614.png">
                <div class="title">赚钱</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic08" linkType="4" data-code="http://vip.suning.com/m/toIndex.htm" href="http://vip.suning.com/m/toIndex.htm">
                <img data-src="//image4.suning.cn/uimg/cms/img/147061924527353384.png">
                <div class="title">领云钻</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic09" linkType="4" data-code="http://res.m.suning.com/project/sideSuning/lp.html" href="http://res.m.suning.com/project/sideSuning/lp.html">
                <img data-src="//image3.suning.cn/uimg/cms/img/147061925297158771.png">
                <div class="title">身边苏宁</div></a>
            </li>
            <li>
              <a name="index_wapsy0005_1110907634_pic10" linkType="4" data-code="http://code.suning.cn/H5GvKl" href="http://code.suning.cn/H5GvKl">
                <img data-src="//image1.suning.cn/uimg/cms/img/147061925901653155.png">
                <div class="title">客户端下载</div></a>
            </li>
          </ul>
        </div>
        <div class="v5-tt">
          <div class="title"></div>
          <div class="line"></div>
          <div class="msgCon">
            <div class="msgs">
              <a name="index_wapsy0005_1110917092_pic01" linkType="4" data-code="http://c.m.suning.com/sntoutiao.htm?cId=4894636991|6554462700" href="http://c.m.suning.com/sntoutiao.htm?cId=4894636991|6554462700" class="msg">
                <span>
                  <i class="dot"></i>2016高颜值拍照手机：一言不合秒单反</span>
                <span style="color: #999;">
                  <i class="dot"></i>欺负我不懂？？你是食物中的绿茶婊！</span>
              </a>
              <a name="index_wapsy0005_1110917092_pic02" linkType="4" data-code="http://c.m.suning.com/sntoutiao.htm?cId=6093587106|47213064" href="http://c.m.suning.com/sntoutiao.htm?cId=6093587106|47213064" class="msg">
                <span>
                  <i class="dot"></i>细说奥运中国女排的各「大长腿」</span>
                <span style="color: #999;">
                  <i class="dot"></i>居家拖鞋 就要选舒适合脚的</span>
              </a>
              <a name="index_wapsy0005_1110917092_pic03" linkType="4" data-code="http://c.m.suning.com/sntoutiao.htm?cId=4382733720|1862743199" href="http://c.m.suning.com/sntoutiao.htm?cId=4382733720|1862743199" class="msg">
                <span>
                  <i class="dot"></i>开学季来了 年轻人如何选择第一台笔记本？</span>
                <span style="color: #999;">
                  <i class="dot"></i>发动机积碳居然这么多危害！如何处理？</span>
              </a>
              <a name="index_wapsy0005_1110917092_pic04" linkType="4" data-code="http://c.m.suning.com/sntoutiao.htm?cId=5693396507|6461264627" href="http://c.m.suning.com/sntoutiao.htm?cId=5693396507|6461264627" class="msg">
                <span>
                  <i class="dot"></i>六大零食是缓解痛经好帮手 ！</span>
                <span style="color: #999;">
                  <i class="dot"></i>迈巴赫顶级轿跑即将问世</span>
              </a>
            </div>
          </div>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <div class="v5-zsq">
          <div class="hor-view t">
            <div class="logo"></div>
            <div class="tag"></div>
            <div class="count">
              <span class="hour-node">00</span>:
              <span class="minute-node">00</span>:
              <span class="second-node">00</span></div>
            <a class="r" href="javascript:;">
              <span>疯抢开学季</span>
              <i class="right"></i>
            </a>
          </div>
          <div class="items app-scroller">
            <div class="app-scroller-wp">
              <ul></ul>
            </div>
          </div>
        </div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <div class="v5-swipe swipe">
          <ul class="swipe-ul">
            <li>
              <a name="index_wapsy0005_1113617089_pic01" linkType="4" data-code="http://c.m.suning.com/channel/jiazhuangjie.html" href="http://c.m.suning.com/channel/jiazhuangjie.html">
                <img data-src="//image3.suning.cn/uimg/cms/img/147194661188868441.jpg"></a>
            </li>
          </ul>
          <ul class="trigger"></ul>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <a name="index_wapsy0005_1111027090_pic01" linkType="-1" data-code="" href="">
          <div class="v5-title" data-bg="//image4.suning.cn/uimg/cms/img/146768146100089561.png" style="background-size: 15rem 1.2rem;"></div>
        </a>
        <div class="v5-gap" style="background-color: ;"></div>
        <div class="v5-l1t1b1 hor-view">
          <a class="l" name="index_wapsy0005_1111037081_pic01" linkType="4" data-code="http://ju.m.suning.com/wap/windex_0.htm" href="http://ju.m.suning.com/wap/windex_0.htm">
            <img data-src="//image1.suning.cn/uimg/cms/img/147192495817008237.jpg"></a>
          <div class="hor-gap"></div>
          <div class="r ver-view">
            <a name="index_wapsy0005_1111037081_pic02" linkType="4" data-code="http://c.m.suning.com/zdm_index.html" href="http://c.m.suning.com/zdm_index.html">
              <img data-src="//image4.suning.cn/uimg/cms/img/147187159670767136.png"></a>
            <div class="ver-gap"></div>
            <a name="index_wapsy0005_1111037081_pic03" linkType="4" data-code="http://c.m.suning.com/jhhd.html" href="http://c.m.suning.com/jhhd.html">
              <img data-src="//image5.suning.cn/uimg/cms/img/147193244632244116.jpg"></a>
          </div>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-2small hor-view">
          <a name="index_wapsy0005_1111047066_pic01" linkType="4" data-code="http://c.m.suning.com/channel/fbrandSale.html" href="http://c.m.suning.com/channel/fbrandSale.html">
            <img data-src="//image4.suning.cn/uimg/cms/img/147200064756425763.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111047066_pic02" linkType="4" data-code="http://c.m.suning.com/channel/asw_wap.html" href="http://c.m.suning.com/channel/asw_wap.html">
            <img data-src="//image3.suning.cn/uimg/cms/img/147193369917862101.jpg"></a>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space"></div>
        <a name="index_wapsy0005_1111057090_pic01" linkType="-1" data-code="" href="">
          <div class="v5-title" data-bg="//image5.suning.cn/uimg/cms/img/146768148103752156.png" style="background-size: 15rem 1.2rem;"></div>
        </a>
        <div class="v5-gap" style="background-color: ;"></div>
        <div class="v5-2big hor-view">
          <a name="index_wapsy0005_1111067062_pic01" linkType="4" data-code="http://c.m.suning.com/3Caihaozhe00090.html" href="http://c.m.suning.com/3Caihaozhe00090.html">
            <img data-src="//image1.suning.cn/uimg/cms/img/147193574456830841.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111067062_pic02" linkType="-1" data-code="http://c.m.suning.com/channel/wapcsll.html" href="http://c.m.suning.com/channel/wapcsll.html">
            <img data-src="//image4.suning.cn/uimg/cms/img/147193440732888745.jpg"></a>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-4big hor-view">
          <a name="index_wapsy0005_1111077070_pic01" linkType="4" data-code="http://c.m.suning.com/channel/wapkongtiao00057.html" href="http://c.m.suning.com/channel/wapkongtiao00057.html">
            <img data-src="//image1.suning.cn/uimg/cms/img/147185328234776500.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111077070_pic02" linkType="-1" data-code="http://smarthome.suning.com/sn_wap_v2.html?showM=true" href="http://smarthome.suning.com/sn_wap_v2.html?showM=true">
            <img data-src="//image2.suning.cn/uimg/cms/img/147193517359182420.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111077070_pic03" linkType="4" data-code="http://c.m.suning.com/chaoYd_index.html" href="http://c.m.suning.com/chaoYd_index.html">
            <img data-src="//image1.suning.cn/uimg/cms/img/147168376889831586.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111077070_pic04" linkType="-1" data-code="http://c.m.suning.com/channel/czg.html" href="http://c.m.suning.com/channel/czg.html">
            <img data-src="//image3.suning.cn/uimg/cms/img/147186056156858114.jpg"></a>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space"></div>
        <a name="index_wapsy0005_1111087090_pic01" linkType="-1" data-code="" href="">
          <div class="v5-title" data-bg="//image2.suning.cn/uimg/cms/img/146768149464825010.png" style="background-size: 15rem 1.2rem;"></div>
        </a>
        <div class="v5-gap" style="background-color: ;"></div>
        <div class="v5-l1t1b1 hor-view">
          <a class="l" name="" linkType="4" data-code="http://shop.m.suning.com/sale/70088046_10023795.html" href="http://shop.m.suning.com/sale/70088046_10023795.html">
            <img data-src="//image4.suning.cn/uimg/cms/img/147192056503249846.jpg"></a>
          <div class="hor-gap"></div>
          <div class="r ver-view">
            <a name="index_wapsy0005_1111097081_pic02" linkType="4" data-code="http://c.m.suning.com/channel/xinhuan.html" href="http://c.m.suning.com/channel/xinhuan.html">
              <img data-src="//image1.suning.cn/uimg/cms/img/147193402041511768.jpg"></a>
            <div class="ver-gap"></div>
            <a name="index_wapsy0005_1111097081_pic03" linkType="4" data-code="http://c.m.suning.com/channel/group_index.html" href="http://c.m.suning.com/channel/group_index.html">
              <img data-src="//image5.suning.cn/uimg/cms/img/147192152239366382.jpg"></a>
          </div>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-2small hor-view">
          <a name="" linkType="4" data-code="http://c.m.suning.com/channel/wapppj520.html" href="http://c.m.suning.com/channel/wapppj520.html">
            <img data-src="//image3.suning.cn/uimg/cms/img/147192029580215144.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111107066_pic02" linkType="4" data-code="http://g.m.suning.com/_index.html" href="http://g.m.suning.com/_index.html">
            <img data-src="//image1.suning.cn/uimg/cms/img/147194772454958358.jpg"></a>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <div class="v5-swipe swipe">
          <ul class="swipe-ul">
            <li>
              <a name="index_wapsy0005_1111127089_pic01" linkType="4" data-code="http://c.m.suning.com/channel/wapny00044.html" href="http://c.m.suning.com/channel/wapny00044.html">
                <img data-src="//image4.suning.cn/uimg/cms/img/147184775656945937.jpg"></a>
            </li>
            <li>
              <a name="index_wapsy0005_1111127089_pic02" linkType="4" data-code="http://sale.suning.com/kt/SJhuierpu/index.html" href="http://sale.suning.com/kt/SJhuierpu/index.html">
                <img data-src2="//image1.suning.cn/uimg/cms/img/147196090705566166.jpg"></a>
            </li>
            <li>
              <a name="index_wapsy0005_1111127089_pic03" linkType="-1" data-code="http://c.m.suning.com/btlmm.html" href="http://c.m.suning.com/btlmm.html">
                <img data-src2="//image2.suning.cn/uimg/cms/img/147134877174971488.jpg"></a>
            </li>
          </ul>
          <ul class="trigger"></ul>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <a name="index_wapsy0005_1111147090_pic01" linkType="-1" data-code="" href="">
          <div class="v5-title" data-bg="//image2.suning.cn/uimg/cms/img/146768151303980980.png" style="background-size: 15rem 1.2rem;"></div>
        </a>
        <div class="v5-gap" style="background-color: ;"></div>
        <div class="v5-l1t1b1 hor-view">
          <a class="l" name="index_wapsy0005_1287077081_pic01" linkType="4" data-code="http://m.2.suning.com/wap/index.htm" href="http://m.2.suning.com/wap/index.htm">
            <img data-src="//image5.suning.cn/uimg/cms/img/147153026779526934.jpg"></a>
          <div class="hor-gap"></div>
          <div class="r ver-view">
            <a name="index_wapsy0005_1287077081_pic02" linkType="4" data-code="http://c.m.suning.com/channel/zhonghuats.html" href="http://c.m.suning.com/channel/zhonghuats.html">
              <img data-src="//image1.suning.cn/uimg/cms/img/147195703781187221.jpg"></a>
            <div class="ver-gap"></div>
            <a name="index_wapsy0005_1287077081_pic03" linkType="4" data-code="http://hx.suning.com/wap/index.do" href="http://hx.suning.com/wap/index.do">
              <img data-src="//image4.suning.cn/uimg/cms/img/147160998617267560.jpg"></a>
          </div>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-2small hor-view">
          <a name="index_wapsy0005_1287087066_pic01" linkType="4" data-code="http://try.m.suning.com/" href="http://try.m.suning.com/">
            <img data-src="//image5.suning.cn/uimg/cms/img/147158571205759242.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1287087066_pic02" linkType="4" data-code="http://m.zc.suning.com/" href="http://m.zc.suning.com/">
            <img data-src="//image2.suning.cn/uimg/cms/img/147191488106111116.jpg"></a>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-2small hor-view">
          <a name="index_wapsy0005_1287097066_pic01" linkType="4" data-code="http://sale.suning.com/jr/zcduobaowap1/index.html" href="http://sale.suning.com/jr/zcduobaowap1/index.html">
            <img data-src="//image3.suning.cn/uimg/cms/img/147174701020959378.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1287097066_pic02" linkType="4" data-code="http://quan.suning.com/lqwap_5.htm" href="http://quan.suning.com/lqwap_5.htm">
            <img data-src="//image4.suning.cn/uimg/cms/img/147156957004092782.png"></a>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <div class="v5-swipe swipe">
          <ul class="swipe-ul">
            <li>
              <a name="index_wapsy0005_1111197089_pic01" linkType="-1" data-code="http://c.m.suning.com/channel/wapchuwei00229.html" href="http://c.m.suning.com/channel/wapchuwei00229.html">
                <img data-src="//image1.suning.cn/uimg/cms/img/147192356566244384.jpg"></a>
            </li>
            <li>
              <a name="index_wapsy0005_1111197089_pic02" linkType="4" data-code="http://c.m.suning.com/channel/wapnicenn.html" href="http://c.m.suning.com/channel/wapnicenn.html">
                <img data-src2="//image1.suning.cn/uimg/cms/img/147200254909158762.jpg"></a>
            </li>
            <li>
              <a name="index_wapsy0005_1111197089_pic03" linkType="4" data-code="http://c.m.suning.com/channel/wapshumaxj818.html" href="http://c.m.suning.com/channel/wapshumaxj818.html">
                <img data-src2="//image5.suning.cn/uimg/cms/img/147151275734221878.jpg"></a>
            </li>
          </ul>
          <ul class="trigger"></ul>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <a name="index_wapsy0005_1111217090_pic01" linkType="-1" data-code="" href="">
          <div class="v5-title" data-bg="//image1.suning.cn/uimg/cms/img/146768153130917144.png" style="background-size: 15rem 1.2rem;"></div>
        </a>
        <div class="v5-gap" style="background-color: ;"></div>
        <div class="app38 gap">
          <ul class="hor-view">
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr01" linkType="0" data-code="http://c.m.suning.com/channel/waptongxun00097.html" href="http://c.m.suning.com/channel/waptongxun00097.html" data-suggoodscode="1" data-fullimg="//image5.suning.cn/uimg/cms/img/147193577525064801.jpg" data-smallimg="//image1.suning.cn/uimg/cms/img/147193577324511348.jpg">
                <img data-src="//image5.suning.cn/uimg/cms/img/147193577525064801.jpg"></a>
            </li>
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr02" linkType="0" data-code="http://c.m.suning.com/muying_wap_index.htm" href="http://c.m.suning.com/muying_wap_index.htm" data-suggoodscode="2" data-fullimg="//image5.suning.cn/uimg/cms/img/147194703317929456.jpg" data-smallimg="//image3.suning.cn/uimg/cms/img/147194702909459750.jpg">
                <img data-src="//image5.suning.cn/uimg/cms/img/147194703317929456.jpg"></a>
            </li>
          </ul>
          <ul class="hor-view">
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr03" linkType="0" data-code="http://c.m.suning.com/channel/wapfashion2.html" href="http://c.m.suning.com/channel/wapfashion2.html" data-suggoodscode="3" data-fullimg="//image2.suning.cn/uimg/cms/img/147183359127097231.png" data-smallimg="//image3.suning.cn/uimg/cms/img/147183358799149780.png">
                <img data-src="//image3.suning.cn/uimg/cms/img/147183358799149780.png"></a>
            </li>
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr04" linkType="0" data-code="http://c.m.suning.com/channel/wapxbjjsh.html" href="http://c.m.suning.com/channel/wapxbjjsh.html" data-suggoodscode="4" data-fullimg="//image4.suning.cn/uimg/cms/img/147194414196856861.jpg" data-smallimg="//image4.suning.cn/uimg/cms/img/147194413835647358.jpg">
                <img data-src="//image4.suning.cn/uimg/cms/img/147194413835647358.jpg"></a>
            </li>
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr05" linkType="0" data-code="http://c.m.suning.com/channel/wapbingxi00022.html" href="http://c.m.suning.com/channel/wapbingxi00022.html" data-suggoodscode="5" data-fullimg="//image1.suning.cn/uimg/cms/img/147159316162874485.jpg" data-smallimg="//image3.suning.cn/uimg/cms/img/147159315742680799.jpg">
                <img data-src="//image3.suning.cn/uimg/cms/img/147159315742680799.jpg"></a>
            </li>
          </ul>
          <ul class="hor-view">
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr06" linkType="0" data-code="http://c.m.suning.com/channel/mzghpdy7.html" href="http://c.m.suning.com/channel/mzghpdy7.html" data-suggoodscode="6" data-fullimg="//image3.suning.cn/uimg/cms/img/147194070617863113.jpg" data-smallimg="//image2.suning.cn/uimg/cms/img/147194070346646216.jpg">
                <img data-src="//image2.suning.cn/uimg/cms/img/147194070346646216.jpg"></a>
            </li>
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr07" linkType="0" data-code="http://c.m.suning.com/channel/xjdwap00002.html" href="http://c.m.suning.com/channel/xjdwap00002.html" data-suggoodscode="7" data-fullimg="//image3.suning.cn/uimg/cms/img/147193354017022216.jpg" data-smallimg="//image4.suning.cn/uimg/cms/img/147193353675198821.jpg">
                <img data-src="//image4.suning.cn/uimg/cms/img/147193353675198821.jpg"></a>
            </li>
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr08" linkType="0" data-code="http://c.m.suning.com/channel/msjxb.html" href="http://c.m.suning.com/channel/msjxb.html" data-suggoodscode="8" data-fullimg="//image3.suning.cn/uimg/cms/img/147193498336596055.png" data-smallimg="//image3.suning.cn/uimg/cms/img/147200208593713882.png">
                <img data-src="//image3.suning.cn/uimg/cms/img/147200208593713882.png"></a>
            </li>
          </ul>
          <ul class="hor-view">
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr09" linkType="0" data-code="http://c.m.suning.com/channel/wap2sports.html" href="http://c.m.suning.com/channel/wap2sports.html" data-suggoodscode="9" data-fullimg="//image2.suning.cn/uimg/cms/img/147168394111918852.jpg" data-smallimg="//image1.suning.cn/uimg/cms/img/147168393751330481.jpg">
                <img data-src="//image1.suning.cn/uimg/cms/img/147168393751330481.jpg"></a>
            </li>
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr10" linkType="0" data-code="http://c.m.suning.com/channel/jiazhuang00001.html" href="http://c.m.suning.com/channel/jiazhuang00001.html" data-suggoodscode="10" data-fullimg="//image2.suning.cn/uimg/cms/img/147183267625385235.jpg" data-smallimg="//image3.suning.cn/uimg/cms/img/147183267047274634.jpg">
                <img data-src="//image3.suning.cn/uimg/cms/img/147183267047274634.jpg"></a>
            </li>
            <li>
              <a class="item" name="index_wapsy0005_1111227635_widscr11" linkType="0" data-code="http://c.m.suning.com/wapdn00001.htm" href="http://c.m.suning.com/wapdn00001.htm" data-suggoodscode="11" data-fullimg="//image3.suning.cn/uimg/cms/img/147194191971026260.jpg" data-smallimg="//image3.suning.cn/uimg/cms/img/147194191483415747.jpg">
                <img data-src="//image3.suning.cn/uimg/cms/img/147194191483415747.jpg"></a>
            </li>
          </ul>
        </div>
        <div class="v5-3middle hor-view">
          <a name="index_wapsy0005_1111237068_pic01" linkType="4" data-code="http://c.m.suning.com/channel/shuma01.html" href="http://c.m.suning.com/channel/shuma01.html">
            <img data-src="//image4.suning.cn/uimg/cms/img/147195754486904018.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111237068_pic02" linkType="-1" data-code="http://c.m.suning.com/muying_wap_wjtz.htm" href="http://c.m.suning.com/muying_wap_wjtz.htm">
            <img data-src="//image1.suning.cn/uimg/cms/img/147185693236791542.jpg"></a>
          <div class="hor-gap"></div>
          <a name="index_wapsy0005_1111237068_pic03" linkType="4" data-code="http://c.m.suning.com/channel/qicheyongpin01.html" href="http://c.m.suning.com/channel/qicheyongpin01.html">
            <img data-src="//image1.suning.cn/uimg/cms/img/147195631054444597.jpg"></a>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space" style="background-color: ; background-image: url(); background-size: 15rem 0.44rem;"></div>
        <a name="index_wapsy0005_1111257090_pic01" linkType="-1" data-code="" href="">
          <div class="v5-title" data-bg="//image2.suning.cn/uimg/cms/img/146768154241823263.png" style="background-size: 15rem 1.2rem;"></div>
        </a>
        <div class="v5-gap" style="background-color: ;"></div>
        <div class="v5-l1t1b1 hor-view">
          <a class="l" name="index_wapsy0005_1111267081_pic01" linkType="4" data-code="http://m.jr.suning.com/sfmp/" href="http://m.jr.suning.com/sfmp/">
            <img data-src="//image2.suning.cn/uimg/cms/img/147185094696057835.jpg"></a>
          <div class="hor-gap"></div>
          <div class="r ver-view">
            <a name="index_wapsy0005_1111267081_pic02" linkType="4" data-code="http://sale.suning.com/jr/lcxsflwap/index.html" href="http://sale.suning.com/jr/lcxsflwap/index.html">
              <img data-src="//image2.suning.cn/uimg/cms/img/147159119456125509.jpg"></a>
            <div class="ver-gap"></div>
            <a name="index_wapsy0005_1111267081_pic03" linkType="4" data-code="http://c.m.suning.com/channel/waprxfkxj0824.html" href="http://c.m.suning.com/channel/waprxfkxj0824.html">
              <img data-src="//image4.suning.cn/uimg/cms/img/147192242656947191.jpg"></a>
          </div>
        </div>
        <div class="v5-gap"></div>
        <div class="v5-space"></div>
        <a name="index_wapsy0005_1111287090_pic01" linkType="-1" data-code="" href="">
          <div class="v5-title" data-bg="//image5.suning.cn/uimg/cms/img/146474824737388916.png" style="background-size: 15rem 1.2rem;"></div>
        </a>
        <div class="v5-gap" style="background-color: ;"></div>
        <div class="v5-hd swipe">
          <ul class="swipe-ul"></ul>
          <ul class="trigger"></ul>
        </div>
        <div id="guessulike" class="l-title floor-wp">
          <div class="title">
            <span class="cai-icon"></span>猜你喜欢</div>
        </div>
        <a href="javascript:;" class="guessbtn">登录后给您专属推荐>></a>
        <div class="app34 hide" id="guessulikeCon">
          <ul class="pro-list fix">
            <li>
              <div class="sn-html5-loading">
                <div class="blueball"></div>
                <div class="orangeball"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="w">
        <div class="app-down">
          <a href="javascript:void(0);" class="click" onclick="topDownloadApp();">
            <img data-src="//image4.suning.cn/uimg/cms/img/147089924753953251.jpg"></a>
        </div>
      </div>
      <div class="app01"></div>
      <footer class="footer">
        <ul class="wbox">
          <li>
            <a name="index_none_dbdh_dl" href="javascript:void(0)" id="footerLogin">登录</a>
            <a name="index_none_dbdh_dl" href="javascript:void(0)" id="footerUserName" style="display:none">
              <span class="a"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" id="footerLogout" style="display:none">注销</a>
            <a name="index_none_dbdh_zc" href="https://reg.suning.com/wap/person.do" id="footerRegister">注册</a></li>
          <li>
            <a name="index_none_dbdh_dnb" href="http://www.suning.com/index.html" id="gotopc">电脑版</a></li>
          <li>
            <a name="index_none_dbdh_jb" href="http://m.suning.com/simple.htm">普通版</a></li>
          <li>
            <a name="index_none_dbdh_khd" href="javascript:void(0)" id="suningapp">客户端</a></li>
        </ul>
      </footer>
      <div class="copyright sn-block tc pdlayout sn-txt-muted">Copyright © 2002 -
        <script type="text/javascript">document.write(new Date().getFullYear())</script>苏宁 suning.com 版权所有</div></div>
    <div id="snIbar" class="sn-ibar close">
      <div id="snIbarMask" class="sn-ibar-mask hide" onclick="this.parentNode.className = this.parentNode.className.replace('open','close')"></div>
      <div id="snIbarToggle" class="sn-ibar-toggle" onclick="this.parentNode.className.indexOf('open')>-1? this.parentNode.className = this.parentNode.className.replace('open','close'):this.parentNode.className = this.parentNode.className.replace('close','open');">
        <div class="hline"></div>
        <div class="vline"></div>
      </div>
      <div class="sn-ibar-wrap" onclick="this.parentNode.className = this.parentNode.className.replace('open','close')">
        <a name="index_none_fcdh_fcsy" class="item" href="http://m.suning.com">
          <div class="icon"></div>
          <div class="title">首页</div></a>
        <a name="index_none_fcdh_fcgw" class="item" href="http://shopping.suning.com/project/cart/cart1.html">
          <div class="icon"></div>
          <div class="title">购物车</div></a>
        <a name="index_none_fcdh_fcsc" class="item" href="http://m.suning.com/search.html">
          <div class="icon"></div>
          <div class="title">搜索</div></a>
        <a name="index_none_fcdh_fcfl" class="item" href="http://m.suning.com/list/list.html">
          <div class="icon"></div>
          <div class="title">分类</div></a>
        <a name="index_none_fcdh_fcwd" class="item" href="http://my.suning.com/wap/home.do">
          <div class="icon"></div>
          <div class="title">我的易购</div></a>
      </div>
    </div>
    <script src="//res.suning.cn/project/mvs/RES/common/script/lib/zepto/1.1.4/zepto.min.js?v=20160107"></script>
    <div id="Top" onclick="$(window).scrollTop(0);" class="hide"></div>
    <script id="shopListTemp" type="text/html">{
        {
          each shops as shop i
        }
      } < a class = "shop-item"name = "index_none_hdtj_33057{{i+1}}"href = "http://c.m.suning.com/goodshop_index.htm?subjectCode={{shop.themeCode}}&title={{shop.themeName}}&mark={{if shop.flag==0}}A{{/if}}" > <ul class = "wbox" > <li class = "app-01" > <div class = "info wbox" > <span class = "shop-logo"style = "background-image:url({{shop.themeLogo}})" ></span> <div> <p class="shop-name">{{shop.themeName}}</p > <p class = "countinfo" > 浏览量 < span class = "count" > {
        {
          shop.pageView
        }
      } < /span></p > <p class = "browse" > 去逛逛~ < /p> </div > </div> <div> <img src="{{shop.skus[0].imgSrc}}"> </div > </li> <li class="app-02"> <dl> <dd> <div > <img src="{{shop.skus[1].imgSrc}}"> </div > </dd> <dd> <div > <img src="{{shop.skus[2].imgSrc}}"> </div > </dd> </dl > </li> </ul ></a> {{/each
    }
  }</script>
    <script id="shopTemp" type="text/html">{
        {
          each shops as shop i
        }
      } {
        {
          if i % 2 == 0
        }
      } < li > {
        { /
          if
        }
      } < a name = "index_none_hdtj_33057{{i+1}}"href = "http://c.m.suning.com/goodshop_index.htm?subjectCode={{shop.themeCode}}&title={{shop.themeName}}&mark={{if shop.flag==0}}A{{/if}}" > <div class = "t" > <img {
        {
          if i > 1
        }
      }
      data - src2 {
        {
          else
        }
      }
      data - src {
        { /
          if
        }
      } = "{{shop.themeLogo}}" > <div class = "wrap" > <span > {
        {
          shop.themeName
        }
      } < /span><span class="des">{{shop.recReason}}</span > </div></div > <div class = "hor-view" > <img class = "b1" {
        {
          if i > 1
        }
      }
      data - src2 {
        {
          else
        }
      }
      data - src {
        { /
          if
        }
      } = "{{shop.skus[0].imgSrc}}" > <div class = "hor-gap" ></div> <div class="r ver-view"> <img class="b2" {{if i > 1}}data-src2{{else}}data-src{{/
      if
    }
  } = "{{shop.skus[1].imgSrc}}" > <div class = "ver-gap" ></div> <img class="b2" {{if i > 1}}data-src2{{else}}data-src{{/
  if
}
} = "{{shop.skus[2].imgSrc}}" > </div> </div > </a> {{if i%2 == 1 || i == shops.length-1}} </li > {
  { /
    if
  }
} {
  { / each
  }
}</script>
    <script type="text/html" id="proItemTemp">{
        {
          each skus as value index
        }
      } {
        {
          if value.sugType == '0'
        }
      } < li class = "pro-item" > <a href = "{{value.href}}"name = "{{value.name}}"id = "{{value.baoguangName}}"style = "position: relative;" > <img data - src = "{{value.bigImg}}"alt = "" ></a> <div class="info-bar fix"> <div class="pro-title line-clamp-2">{{value.sugGoodsName}}</div > <span class = "e-price" > ￥ {
        {
          value.price
        }
      } < /span> </div > <a class = "like"href = "{{value.like}}" > 找相似 < /a></li > {
        {
          else if value.sugType == '1'
        }
      } < li class = "pro-item" > <a href = "{{value.href}}"name = "{{value.name}}"id = "{{value.baoguangName}}"style = "position: relative;" > <img data - src = "{{value.bigImg}}"alt = "" > <span class = "recdes" > {
        {
          value.txtDes
        }
      } < /span> </a > <div class = "info-bar fix" > <div class = "pro-title line-clamp-2" > {
        {
          value.sugGoodsName
        }
      } < /div> <span class="e-price">￥{{value.price}}</span > </div> <a class="like" href="{{value.like}}">找相似</a > </li> {{else if value.sugType == '2'}} <li class="pro-item jxtx"> <a href="{{value.pageUrl}}" name="{{value.name}}" id="{{value.baoguangName}}"> <div class="imgs"> <div class="imga"><img data-src="{{value.images[0]}}"></div > <div class = "imga" > <img data - src = "{{value.images[1]}}" > </div> <div class="imga"><img data-src="{{value.images[2]}}"></div > <div class = "imga" > <img data - src = "{{value.images[3]}}" > </div></div > <span class = "jxtitle" > {
        {
          value.label
        }
      } < /span> <span class="jxdes">{{if value.txtDes[1]}}{{value.txtDes[0]}}<i class="heart"></i > {
        {
          value.txtDes[1]
        }
      } {
        {
          else
        }
      } {
        {
          value.txtDes[0]
        }
      } {
        { /
          if
        }
      } < /span> </a > </li> {{/
      if
    }
  } {
    { / each
    }
  }</script>
    <script type="text/html" id="zsqItemTemp">{
        {
          each commList as value index
        }
      } < li > <a class = "pro"name = "index_none_zsq_33045{{index+1}}"href = "{{value.linkUrl}}"data - procode = "{{value.partnumber}}"data - vendorcode = "{{value.vendorCode}}" > <img alt = ""data - src = "{{value.prdUrl}}" > <div class = "prices"data - gbrice = "{{value.gbPrice}}" > <span class = "gb-price" > ￥ {
        {
          value.gbPrice
        }
      } < /span><del class="tag-price"></del > </div> </a ></li> {{/each
    }
  }</script>
    <script type="text/html" id="zsqTemp">{
        {
          each commList as value index
        }
      } < li > <a class = "pro"name = "index_none_zsq_33045{{index+1}}"href = "{{value.linkUrl}}"data - procode = "{{value.partnumber}}"data - vendorcode = "{{value.vendorCode}}" > {
        {
          if index > 3
        }
      } < img alt = ""data - isrc = "{{value.prdUrl}}" > {
        {
          else
        }
      } < img alt = ""data - src = "{{value.prdUrl}}" > {
        { /
          if
        }
      } < div class = "prices"data - gbrice = "{{value.gbPrice}}" > <span class = "gb-price" > ￥ {
        {
          value.prices[0]
        }
      }. < i class = "f0" > {
        {
          value.prices[1]
        }
      } < /i></span > <del class = "tag-price" > </del><span class="sale"></span > </div> </a ></li> {{/each
    }
  }</script>
    <script src="//res.suning.cn/project/cmsWeb/suning/wap/V5/index/main.js?v=201608040114159681"></script>
  </body>

</html>