body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    /*	 background: url(../images/bg1.jpg) left top;*/
    /*background: rgb(5,12,18);*/
    background: #000000;
}

#bg{
    position: fixed;
    width:50%;
    height: auto;
    z-index: -10;
    left: 50%;
    bottom: 0;
    margin-left: -25%;
   /* background: url(../images/homepage.jpg) left bottom no-repeat;*/

}
#bg1 {
  position: fixed;
    width:50%;
    height: auto;
    z-index: -10;
    right: 0;
    bottom: 0;
   /* background: url(../images/homepage.jpg) left bottom no-repeat;*/
}

#bg >img{
  width: 100%;
}

#bg1>img{
    width: 100%;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1); 
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}
.logo_box {
    width: 100px;
    height: auto;
    min-height: 120px;
    position: absolute;
    top: 10px;
}
.logo_BMW{
    right:170px;
}
.logo_PM{
  left: 20px;
}


.container{
  width: 100%;
  height: 100%;
  position: relative;
}

.content{
  width: 78%;
  position: absolute;
  left: 50%;
  margin-left: -40.5%;
  margin-top:7%; 

}
.box{
  float: left;
  width: 21%;
  height:auto;
  margin-left:4%; 
  text-align: center;
  margin-top: 35px;
  

}
.box>a{
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}
.box a img{
  margin-top: -10px;
}
.box p{
  margin-top:-28px;
  font-size: 15px;
}

.remark{
  position: fixed;height: 20px;
  line-height: 20px;
  text-align: right;
  bottom: 5px;
  right: 0px;
}
.remark>p{
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  color: white;
  font-size: 14px;
  padding-right: 10px;
}