<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<title>Consumer Academy</title>
    <link href="img/ico_logo.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/consumer.css">
	
</head>
<body >
<div id="div_body">
    <div class="logo_box">
            <img src="../images/PM_Logo.png" alt="PM" height="85px" style="z-index: 100;">
    </div>
    <div id="header">
        <!--  <img src="img/starcom_logo.png" alt="Starcompass" style="float: right;padding-right: 25px;" height="48px"> -->
    	
    	<div class="navbar">
            <ul>
                <li  class="dropdown">
                    <a   href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" id="ATTITUDES">ATTITUDES & TRENDS<b class="caret">
                        </b></a>
                    <ul class="dropdown-menu" id="ul_ATTITUDES" style="margin-top: -1px;">
                            <li v-for="list_a in lists.ATTITUDES">
                                <a href="javascript:void(0);" v-on:click="url(list_a.id)" >
                                   {{list_a.title}}
                                </a>
                            </li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a   href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" id="BABYCARE">AUTOMOTIVE OVERVIEW<b class="caret">
                        </b></a>
                    <ul class="dropdown-menu" id="ul_BABYCARE" style="margin-top: -1px;margin-left: 15px;">
                             <li v-for="list_b in lists.Automotive">
                                <a href="javascript:void(0);" v-on:click="url(list_b.id)" >
                                   {{list_b.title}}
                                </a>
                            </li>
                        </ul>
                </li>
                <li  class="dropdown">
                    <a   href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" id="FEMCARE">WHAT’S NEW<b class="caret">
                        </b></a>
                    <ul class="dropdown-menu" id="ul_FEMCARE" style="margin-top: -1px;margin-left: -35px;">
                             <li v-for="list_f in lists.NEW">
                                <a href="javascript:void(0);" v-on:click="url(list_f.id)" >
                                   {{list_f.title}}
                                </a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
        <div id="account">
            <a href="../index.html" id="back2" class="dropdown-toggle" style="margin-right: 20px;">
                <i class="glyphicon glyphicon-home"></i><b style="margin-left: 5px;font-weight:100 ">Home</b>
            </a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="a">
                        Hi
                        <label id="admin">
                        </label>
                        <b class="caret">
                        </b>
                    </a>
                    <ul class="dropdown-menu" id="admin-ul" style="margin: -5px;margin-left:-15px;">
                        <li>
                            <a href="#" onclick="javascript:alert('This function is being constructed, temporarily not open, please be patient.')">
                                <i class="fa fa-fw fa-user">
                                </i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myPsw">
                                <i class="fa fa-fw fa-gear">
                                </i>
                                Password
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a id="btnLogout" href="#">
                                <i class="fa fa-fw fa-power-off">
                                </i>
                                Log Out
                            </a>
                        </li>
                    </ul>
        </div>
    </div>
    <div id="container">
    	<div class="img_banner">
    		<img src="img/Consumer  Academy_banner.jpg" alt="" width="100%" style="margin-top: -20px;">
    	</div>
    	<div class="item_box">
    		<div class="item_row">
                <div v-for="item in items" class="c-item" v-on:click="url(item.id)" v-bind:id="item.id">
                    <a class="img-box" href="#">
                        <img v-bind:src="item.photo">
                    </a>
                    <div class="a-box"> 
                        <a  style="margin-bottom: 10px;">{{item.title}}</a>
                        <a  style="margin-bottom: 10px;">{{item.detail}}</a>
                        <a  style="margin-left: 18px;color: #08c" class="more">LEARN MORE</a>
                    </div>
                </div>                    
           </div>
    	</div>
    </div>
<!--     <div id="bottom_banner">
            <p>Copyright 2016-2018 STARCOM. All rights reserved.</p>
    </div> -->
</div>
<script src="../lib/js/jquery.min.js"></script>
<script src="../lib/js/bootstrap.min.js"></script>
<script src="../lib/js/vue.min.js"></script>
<script src="../lib/js/vue-resource.min.js"></script>
<script src="js/consumer.js"></script>
<script src="js/common.js"></script>
</body>
</html>